//Brand Color Definitions
$brand-primary:                         #353535 !default;
$brand-secondary:                       #5a36a7 !default;
$brand-success:                         #A5CD50 !default;
$brand-info:                            #7cc7c1 !default;
$brand-warning:                         #ffc011 !default;
$brand-danger:                          rgba(175, 0, 0, 0.876) !default;
$brand-action:                          #EB3C96 !default;


$primary-color: $brand-danger;